<div class="header-container"> 
    <div class="header-top">
        <div class="container">
            <div></div> <!-- Placeholder for future content -->
            <div class="lang-switcher">
            <button class="lang-btn">IT</button>
            <button class="lang-btn">EN</button>
            </div>
        </div>
    </div>
    <div class="header-middle">
        <div class="container">
          <div class="logo">
            <a routerLink="/home">
              <img src="assets/images/logo.png" alt="Logo Monkey Rider" class="logo-img" />
              <span class="logo-text">Monkey Rider</span>
            </a>
          </div>
          <div class="search search-center">
            <form (submit)="onSearch($event)">
              <input 
                type="text" 
                placeholder="Cerca"
                [(ngModel)]="searchQuery"
                name="searchQuery"
                class="search-input">
            </form>
          </div>
          <div class="navUser-actions">
            <!-- Temporary button to navigate to gestione page (visibile solo ad admin) -->
            <button *ngIf="isAdmin" class="gestione-btn" routerLink="/gestione">Gestione</button>
            <div class="profile-menu">
              <button class="user-btn" (click)="ToggleDropdown()">
                <img src="assets/icone/user.svg" alt="User" class="user-icon"/>
              </button>
              <!-- Dropdown menu for login -->
              @if (showDropdown && !authService.isAuthenticated()) {
                <div class="dropdown-menu">
                  <div class="login-header">
                    <h2>Accedi</h2>
                      <img src="assets/icone/close.svg" alt="Close Icon" class="close-icon" (click)="closeDropdown()"/>
                    </div>
                    <div class="login-content">
                      <p>Se hai già un account, accedi qui:</p>
                      <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                          <input type="email" id="email" formControlName="email" placeholder="Email">
                          <input type="password" id="password" formControlName="password" placeholder="Password">
                        <button type="submit">Accedi</button>
                      </form>
                      @if(errorMessage) {
                        <div class="form-message">{{ errorMessage }}</div>
                      }  
                      </div>
                      <div class="login-footer">
                        <p>Non hai un account? <a routerLink="/register" (click)="closeDropdown()">Crea un account</a></p>
                      </div>
                </div>
              }
              <!-- Dropdown menu for user profile -->
              @if (showDropdown && authService.isAuthenticated()) {
                <div class="dropdown-menu">
                  <app-user-menu [closeDropdown]="closeDropdown"></app-user-menu>
                </div>
              }
            </div>
            <button class="whishlist-btn" routerLink="/wishlist">
              <img src="assets/icone/heart.svg" alt="Wishlist" class="wishlist-icon"/>
            </button>
            <button class="cart-btn" routerLink="/cart">
              <img src="assets/icone/shopping-cart.svg" alt="cart" class="cart-icon"/>
              <!--({{ cartItemCount }})-->
            </button>
          </div>

        </div>
      </div>


</div>