<div class="header-container"> 
    <div class="header-middle">
        <div class="container">
          <div class="logo">
            <a routerLink="/home">
              <img src="assets/images/logo.png" alt="Logo Monkey Rider" class="logo-img" />
              <span class="logo-text">Monkey Rider</span>
            </a>
          </div>
          <div class="search search-center">
            <form (submit)="onSearch($event)">
              <input 
                type="text" 
                placeholder="Cerca"
                [(ngModel)]="searchQuery"
                (ngModelChange)="onSearchInput($event)"
                name="searchQuery"
                class="search-input">
            </form>
          </div>
          <div class="navUser-actions">
            <!-- Temporary button to navigate to admin page (visible only to admin) -->
            <button *ngIf="isAdmin" class="gestione-btn" routerLink="/admin">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path id="eosIconsAdmin0" fill="#000000" d="M12 1L3 5v6c0 5.55 3.84 10.74 9 12c5.16-1.26 9-6.45 9-12V5Zm0 3.9a3 3 0 1 1-3 3a3 3 0 0 1 3-3Zm0 7.9c2 0 6 1.09 6 3.08a7.2 7.2 0 0 1-12 0c0-1.99 4-3.08 6-3.08Z"/></svg>            </button>
            <div class="profile-menu">
              <button class="user-btn" (click)="ToggleDropdown()">
                <img src="assets/icone/user.svg" alt="User" class="user-icon"/>
              </button>
              <!-- Dropdown menu for login -->
              @if (showDropdown && !authService.isAuthenticated()) {
                <div class="dropdown-menu">
                  <div class="login-header">
                    <h2>Accedi</h2>
                      <img src="assets/icone/close.svg" alt="Close Icon" class="close-icon" (click)="closeDropdown()"/>
                    </div>
                    <div class="login-content">
                      <p>Se hai già un account, accedi qui:</p>
                      <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                          <input type="email" id="email" formControlName="email" placeholder="Email">
                          <input type="password" id="password" formControlName="password" placeholder="Password">
                        <button type="submit">Accedi</button>
                      </form>
                      @if(errorMessage) {
                        <div class="form-message">{{ errorMessage }}</div>
                      }  
                      </div>
                      <div class="login-footer">
                        <p>Non hai un account? <a routerLink="/register" (click)="closeDropdown()">Crea un account</a></p>
                      </div>
                </div>
              }
              <!-- Dropdown menu for user profile -->
              @if (showDropdown && authService.isAuthenticated()) {
                <div class="dropdown-menu">
                  <app-user-menu [closeDropdown]="closeDropdown"></app-user-menu>
                </div>
              }
            </div>
            <button class="whishlist-btn" [routerLink]="['/profile']" [queryParams]="{ view: 'wishlist' }">
              <img src="assets/icone/heart.svg" alt="Wishlist" class="wishlist-icon"/>
            </button>
            <button class="cart-btn" routerLink="/cart">
              <img src="assets/icone/shopping-cart.svg" alt="cart" class="cart-icon"/>
              <!--({{ cartItemCount }})-->
            </button>
          </div>

        </div>
      </div>


</div>