# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

backend/.env
.env
backend/node_modules
frontend/node_modules
frontend/.angular
frontend/.vscode
