<div class="profile-page">
  <aside class="sidebar-menu">
    <button (click)="selectView('personal')" [class.active]="currentView === 'personal'">Dati Personali</button>
    <button (click)="selectView('addresses')" [class.active]="currentView === 'addresses'">Indirizzi</button>
  <button (click)="selectView('orders')" [class.active]="currentView === 'orders'">i miei ordini</button>
    <button (click)="selectView('wishlist')" [class.active]="currentView === 'wishlist'">wish list</button>
  <button (click)="logout()">Logout</button>
  </aside>
  
  <section class="content">
    <app-personal-data *ngIf="currentView === 'personal'"></app-personal-data>
  <app-addresses *ngIf="currentView === 'addresses'"></app-addresses>
  <app-orfini *ngIf="currentView === 'orders'"></app-orfini>
  <app-wishlist *ngIf="currentView === 'wishlist'"></app-wishlist>
  </section>
</div>


