.order-page{
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.order-table{
  display: flex;
  flex-direction: column;
  flex: 1; 
  margin: 2rem 5rem 1rem 5rem;
  min-width: 0;
}
.table-wrapper{
  overflow-x: auto !important;
  width: 100%;
}

.order-table table{
  width: 100%;
  min-width: 1300px;
  border-collapse: collapse;
  border: 1px solid #888888;
  border-radius: 1px;
  background-color: #444444;
}
.order-table th, .order-table td{
  text-align: center;
  padding: 0.6rem;
  border-bottom: 1px solid #888888;
}
.order-table th{
  text-align: center;
}
.order-table button{
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #D64933;
  color: #E0E0E0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 1rem 0;
  gap: 0.5rem;
}
.pagination button {
  padding: 8px 12px;
  background-color: #444444;
  color: #E0E0E0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.pagination button:hover {
  background-color: #616161;
}
.pagination button:disabled {
  background-color: #888888;
  cursor: not-allowed;
}
.pagination button.active {
  background-color: #BDB0A3;
  color: #161616;
}
