.custom-footer {
  background: #191919;
  color: #E0E0E0;
  font-family: 'Montserrat', Arial, sans-serif;
  padding: 2.5rem 0 1.2rem 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 0 3vw;
}

.footer-logo {
  display: flex;
  flex-direction: column; /* disposizione verticale */
  align-items: start;    /* centra contenuti in orizzontale */
  gap: 0.3rem;
}

.logo-row {
  display: flex;
  align-items: center;
  gap: 0.8rem;           /* spazio tra logo e testo */
}

.logo-img {
  width: 40px;
  height: auto;
}

.logo-text {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.slogan {
  text-align: start;
  font-size: 0.95rem;
  color: #E0E0E0;
  letter-spacing: 1px;
}

.footer-columns {
  display: flex;
  gap: 2.2rem;
  flex: 3;
  justify-content: flex-end;
}

.footer-column {
  display: flex;
  flex-direction: column;
  min-width: 140px;
  gap: 0.3rem;
  font-size: 0.95rem;
}

.footer-column span {
  font-weight: 600;
  margin-bottom: 0.7rem;
  color: #fafafa;
  letter-spacing: 1px;
}

.footer-column a {
  color: #E0E0E0;
  text-decoration: none;
  transition: color 0.2s;
}

.footer-column a:hover {
  color: #D64933;
}

hr {
  border: none;
  border-top: 1px solid #444;
  margin: 0 3vw 1.3rem 3vw;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.footer-social {
  display: flex;
  gap: 1.1rem;
}

.footer-social a svg {
  transition: fill 0.2s, transform 0.2s;
}
.footer-social a svg {
  fill: #E0E0E0;
}
.footer-social a:hover svg {
  fill: #D64933;
  transform: scale(1.08);
}


.footer-copy {
  font-size: 0.95rem;
  color: #a5a5a5;
  letter-spacing: 1px;
}

@media (max-width: 750px) {
  .footer-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.2rem;
  }
  .footer-columns {
    flex-direction: column;
    gap: 1.3rem;
    justify-content: flex-start;
    width: 100%;
  }
}
