.login-header {
	display: flex; /*uso le flexbox*/
	justify-content: space-between; /*aggiungo spazio tra gli elementi*/
	align-items: center; /*centro verticalme*/
	padding: 1rem;
	border-bottom: 1px solid #423E37;
}
.close-icon {
	cursor: pointer;
}

.login-content{
	display: flex;
	flex-direction: column; /*mette i flexbox in colonna*/
	align-items: stretch; /*gli elementi si espandono per riempire la larghezza*/
	padding: 1rem;
}
.login-content p{
	margin-bottom: 1rem;
}
.login-content form {
  display: flex;
  flex-direction: column;
  align-items: stretch; /*gli elementi si espandono per riempire la larghezza*/
	margin-bottom: 1rem;
}
.login-content input {
	background: #D5DDBC;
	color: black;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border: none;
	border-radius: 2px;
	height: 1.8rem;
	text-align: left;
	font-size: 1rem;
	font-weight: normal;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}

button{
	background: #D5DDBC;
	border: none;
	border-radius: 2px;
	padding: 0.5rem 1rem;
	color: black;
	font-size: 1rem;
	font-weight: bolder;
	cursor: pointer;
	margin-top: 0.5rem;
	width: 100%;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
	transition: background-color 0.3s ease, color 0.3s ease;
}
button:hover{
	background: #423E37;
	color: white;
}
.login-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
.login-footer a {
	color: #423E37;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	transition: color 0.3s ease;
}
.login-footer a:hover {
	color: #D64933;
}