* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configurazione per permettere sticky positioning */
html {
  height: 100%;
  overflow-x: auto; /* Previene scroll orizzontale */
  scroll-behavior: auto; /* Scroll fluido */
}

body {
  background-color: #161616;
  min-height: 100vh; /* Garantisce altezza minima per lo scroll */
  overflow-x: auto; /* Previene scroll orizzontale */
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
